[submodule "component-appcat"]
	path = component-appcat
	url = git@github.com:vshn/component-appcat.git
[submodule "appcat"]
	path = appcat
	url = git@github.com:vshn/appcat.git
[submodule "kindev"]
	path = kindev
	url = git@github.com:vshn/kindev.git
